<h1>New Patient</h1>

<%= form_with scope: :patient, url: patients_path, local: true do |form| %>
  <p>
    <%= form.label :First_Name %><br>
    <%= form.text_field :first_name %>
  </p>
  <p>
    <%= form.label :Last_Name %><br>
    <%= form.text_field :last_name %>
  </p>
  <p>
    <%= form.label :DOB %><br>
    <%= form.text_field :dob %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>
